.button {
  padding: 8px;
  border: none;
  text-transform: capitalize;
  letter-spacing: 0.125rem;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  animation: all .3s;

  &:hover{
    cursor: pointer;
    filter: saturate(1.5) brightness(1.2);
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;

  &:hover, &:focus {
    cursor: not-allowed;
  }
}
